# test data
testdata/download/
testdata/temp/

# editor settings
.vscode
*.code-workspace

# may contain sensitive data
.env
*.conf

# built files
build/temp/
build/spec/
dist/
*.spec

# cache
__pycache__/
.pytest_cache/

# random code for experimenting
playground/
