# test data
testdata/download/
testdata/temp/
testdata/save_location

# editor settings
.vscode
*.code-workspace

# may contain sensitive data
.env
*.conf

# built files
build/
dist/
*.spec

# cache
__pycache__/
.pytest_cache/

# random code for experimenting
playground/
