# test data
testdata/download/
testdata/temp/

# editor settings
.vscode
*.code-workspace

# may contain sensitive data
.env
*.conf

# built files
build/
dist/
*.spec

# random code for experimenting
playground/
