[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
beautifulsoup4 = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest -ra -m 'not (flaky)'"
flaky = "pytest -ra -m flaky"
build = "pyinstaller -p ./src --name twitter_image_dl --noconfirm dl.py"
