[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest -rs"
download = "python ./src/twitterimagedl.py ./testdata/userlists/me.txt ./testdata/download"