-i https://pypi.org/simple
atomicwrites==1.4.0 ; sys_platform == 'win32'
attrs==19.3.0
beautifulsoup4==4.9.1
colorama==0.4.3 ; sys_platform == 'win32'
importlib-metadata==1.7.0 ; python_version < '3.8'
iniconfig==1.0.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
zipp==3.1.0
